@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nobile:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import 'tailwindcss';

@theme {
    --color-emphasis: #2383e2;
    --color-bg-secondary: #f1f3f5;
    --color-text-secondary: #6b6b6b;
    --color-text-primary: #4a4a4a;
    --color-bg-primary: #f8f9fa;
    --color-border-primary: #e5e5e5;
    --color-level1: #0455bf;
    --color-level2: #1e69cb;
    --color-level3: #438ef2;
    --color-level4: #74b0ff;
    --font-inter: 'inter', sans-serif;
}

@layer base {
    :root {
        --color-bg-background: #ffffff;
        --color-bg-primary: #f8f9fa;
        --color-bg-secondary: #f1f3f5;
        --color-emphasis: #2383e2;
        --color-text-secondary: #6b6b6b;
        --color-text-primary: #4a4a4a;
        --color-border-primary: #e5e5e5;
        --color-level1: #0455bf;
        --color-level2: #1e69cb;
        --color-level3: #438ef2;
        --color-level4: #74b0ff;
    }

    html.dark {
        --color-bg-background: #1f1f1f;
        --color-bg-primary: #363636;
        --color-bg-secondary: #2c2c2c;
        --color-text-primary: #e0e0e0;
        --color-text-secondary: #cfcfcf;
        --color-border-primary: #4f4f4f;
    }
}
@layer utilities {
    .bg-background {
        background-color: var(--color-bg-background);
    }
    .bg-primary {
        background-color: var(--color-bg-primary);
    }
    .bg-secondary {
        background-color: var(--color-bg-secondary);
    }
    .text-primary {
        color: var(--color-text-primary);
    }
    .text-secondary {
        color: var(--color-text-secondary);
    }
    .emphasis {
        color: var(--color-emphasis);
    }
    .border-primary {
        border-color: var(--color-border-primary);
    }
    .level-1 {
        background-color: var(--color-level1);
    }
    .level-2 {
        background-color: var(--color-level2);
    }
    .level-3 {
        background-color: var(--color-level3);
    }
    .level-4 {
        background-color: var(--color-level4);
    }
}

@custom-variant dark (&:where(.dark, .dark *));

html,
body {
    background-color: var(--color-bg-background);
}
